<div class="panel panel-primary">
  <div  class="table-responsive">
      <table class="table" *ngIf='mobiles && mobiles.length'>
          <thead>
              <tr>
                  <th></th>
                  <th>Mobile-Name</th>
                  <th>Code</th>
                  <th>Released</th>
                  <th>Price</th>
                  <th>user review</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor='let mobile of mobiles'>
                    <td>
                      <img [src]='imageUrl+mobile.image' style="height:75px;width:75px;" />
                       
                    </td>
                  <td>{{ mobile.name }}</td>
                  <td>{{ mobile.model }}</td>
                  <td>{{ mobile.releaseDate }}</td>
                  <td>{{ mobile.price }}</td>
                  <td>{{ mobile.rating }}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

