<div class="panel panel-primary">
  <div class="panel-heading">
      {{pageTitle}}
  </div>
  <div class="panel-body"  >
      <div class="row" >
          <img src="./assets/images/logo.jpg" 
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px"/>
      </div>
      <div class="row" style="padding:10px" >
          <form>
             
              <address>
                  <strong>Mobile Kar Inc.</strong><br>
                  Rajaji Nagar<br>
                  Bangalore - 560782<br>
                  <abbr title="Phone">
                      P:
                  </abbr>
                 080 4635373
              </address>
              <address>
                  <strong>mobile kart</strong><br>
                  <a href="mailto:#">mobilekart@gmail.com</a>
              </address>
          </form>
      </div>
  </div>
</div>